.Button{
    float: left;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.numericalButtons{
    font-size: 25px;
    width: 33%;
    height: 25%;
    padding-top: 17px;
    background: #434343;
    border: none;
    outline: none;
}

.symbolButtons{
    padding-top: 40px;
    font-size: 15px;
    background: #636363;
    outline: 1px solid #636363;
    width: 100%;
    height: 20%;
    border: none;
    outline: none;
}